__pycache__/
*.pyc
maskgit-vqgan-imagenet-f16-256.bin
imagenet64-iter-1600000-opt.th
imagenet64-iter-1600000-model.th
stage1_dry_run
*run1/
wandb/
.cache/
logs/
slurm*
output*
results*
temp*   
datasets
*.o*
*.e*
dry_run*
.vscode/
titok_b64_4096_12_REINFORCE_mlp
temp_results/